.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

.login-box {
  width: 400px;
  margin: 0 auto;
  overflow: auto;
}
.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}
.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}
.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}
.init-sesion {
  color: rgb(0, 114, 185);
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.login-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.login-box::-webkit-scrollbar:vertical {
  width:10px;
}

.login-box::-webkit-scrollbar-button:increment,.login-box::-webkit-scrollbar-button {
  display: none;
} 

.login-box::-webkit-scrollbar:horizontal {
  height: 10px;
}

.login-box::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.login-box::-webkit-scrollbar-track {
  border-radius: 10px;  
}
